<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internetplus.bankpunishment.data.BankPunishmentMapper">
    <insert id="insertBankPunishment" parameterType="com.internetplus.bankpunishment.entity.BankPunishment"
            keyProperty="id"  useGeneratedKeys="true">
      insert into bank_punishment(
          punishmentName, punishmentDocNo, punishmentType,
          punishedPartyName, mainResponsibleName, mainIllegalFact,
          punishmentBasis,punishmentDecision,punisherName,
          punishDate,province,status,
          punishedPersonName,punishmentMoney,punishmentLawName,
          punishedBusinessName
      )
      values (
          #{punishmentName},#{punishmentDocNo},#{punishmentType},
          #{punishedPartyName},#{mainResponsibleName},#{mainIllegalFact},
          #{punishmentBasis},#{punishmentDecision},#{punisherName},
          #{punishDate},#{province},#{status},
          #{punishedPersonName},#{punishmentMoney},#{punishmentLawName},
          #{punishedBusinessName}
      )
    </insert>

    <insert id="addCrawlerBankPunishment"  parameterType="com.internetplus.bankpunishment.entity.BankPunishment">
        insert into bank_punishment(
            punishmentName, punishmentDocNo, punishmentType,
            punishedPartyName, mainResponsibleName, mainIllegalFact,
            punishmentBasis, punishmentDecision, punisherName,
            punishDate, province, status,
            punishedPersonName,punishmentMoney,punishmentLawName,
            punishedBusinessName
        )
        values (
            #{punishmentName},#{punishmentDocNo},#{punishmentType},
            #{punishedPartyName},#{mainResponsibleName},#{mainIllegalFact},
            #{punishmentBasis},#{punishmentDecision},#{punisherName},
            #{punishDate},#{province},#{status},
            #{punishedPersonName},#{punishmentMoney},#{punishmentLawName},
            #{punishedBusinessName}
        )
    </insert>

    <update id="updateBankPunishment" parameterType="com.internetplus.bankpunishment.entity.BankPunishment">
        update bank_punishment set
            punishmentName=#{punishmentName},
            punishmentDocNo=#{punishmentDocNo},
            punishmentType=#{punishmentType},
            punishedPartyName=#{punishedPartyName},
            mainResponsibleName=#{mainResponsibleName},
            mainIllegalFact=#{mainIllegalFact},
            punishmentBasis=#{punishmentBasis},
            punishmentDecision=#{punishmentDecision},
            punisherName=#{punisherName},
            punishDate=#{punishDate},
            province=#{province},
            status=#{status},
            punishedPersonName=#{punishedPersonName},
            punishmentMoney=#{punishmentMoney},
            punishmentLawName=#{punishmentLawName},
            punishedBusinessName=#{punishedBusinessName}
        where id = #{id}
    </update>

    <update id="updateBankPunishmentExceptNull" parameterType="com.internetplus.bankpunishment.entity.BankPunishment">
        update bank_punishment
        <trim prefix="set" suffixOverrides=",">
            <if test="punishmentName!=null">punishmentName=#{punishmentName},</if>
            <if test="punishmentDocNo!=null">punishmentDocNo=#{punishmentDocNo},</if>
            <if test="punishmentType!=null">punishmentType=#{punishmentType},</if>
            <if test="punishedPartyName!=null">punishedPartyName=#{punishedPartyName},</if>
            <if test="mainResponsibleName!=null">mainResponsibleName=#{mainResponsibleName},</if>
            <if test="mainIllegalFact!=null">mainIllegalFact=#{mainIllegalFact},</if>
            <if test="punishmentBasis!=null">punishmentBasis=#{punishmentBasis},</if>
            <if test="punishmentDecision!=null">punishmentDecision=#{punishmentDecision},</if>
            <if test="punisherName!=null">punisherName=#{punisherName},</if>
            <if test="punishDate!=null">punishDate=#{punishDate},</if>
            <if test="province!=null">province=${province},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="punishmentMoney!=null">punishmentMoney=#{punishmentMoney},</if>
            <if test="punishedPersonName!=null">punishedPersonName=#{punishedPersonName},</if>
            <if test="punishmentLawName!=null">punishmentLawName=#{punishmentLawName},</if>
            <if test="punishedBusinessName!=null">punishedBusinessName=#{punishedBusinessName},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="publishBankPunishment">
        update bank_punishment set status='1' where id = #{id}
    </update>

    <delete id="deleteBankPunishment">
        delete from bank_punishment where id = #{id}
    </delete>

    <select id="selectBankPunishmentById" resultMap="BankPunishment">
        select * from bank_punishment where id=#{id}
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from bank_punishment
    </select>

    <select id="selectBankPunishmentByFuzzyQuery" parameterType="java.lang.String"
            resultMap="BankPunishment">
        select * from bank_punishment where concat(ifnull(punishmentName,''),
            ifnull(punishmentDocNo,''), ifnull(punishmentType,''),
            ifnull(punishedPartyName,''), ifnull(mainResponsibleName,''),
            ifnull(mainIllegalFact,''), ifnull(punishmentBasis,''),
            ifnull(punishmentDecision,''), ifnull(punisherName,'')), ifnull(province, '')
        like concat('%',#{queryString},'%')
    </select>

    <select id="getBankPunishmentCount" resultType="java.lang.Long">
        select count(*) from bank_punishment;
    </select>

    <select id="selectBankPunishmentByLimitAndOffset" resultMap="BankPunishment">
        select * from bank_punishment limit #{limitNum} offset #{offsetNum}
    </select>

    <select id="selectBankPunishment" parameterType="com.internetplus.bankpunishment.vo.BankPunishmentQueryVO" resultMap="BankPunishment">
        select * from bank_punishment
        <trim prefix="where" suffixOverrides="and">
            <if test="id!=null">id=#{id} and</if>
            <if test="punishmentType!=null">punishmentType=#{punishmentType} and</if>
            <if test="status!=null">status=#{status} and</if>
            <if test="punishmentDocNo!=null">
                punishmentDocNo like concat('%',#{punishmentDocNo,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishmentName!=null">
                punishmentName like concat('%',#{punishmentName,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishedPartyName!=null">
                punishedPartyName like concat('%',#{punishedPartyName,jdbcType=VARCHAR},'%') and
            </if>
            <if test="mainResponsibleName!=null">
                mainResponsibleName like concat('%',#{mainResponsibleName,jdbcType=VARCHAR},'%') and
            </if>
            <if test="mainIllegalFact!=null">
                mainIllegalFact like concat('%',#{mainIllegalFact,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishmentBasis!=null">
                punishmentBasis like concat('%',#{punishmentBasis,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishmentDecision!=null">
                punishmentDecision like concat('%',#{punishmentDecision,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punisherName!=null">
                punisherName like concat('%',#{punisherName,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishDate!=null">
                punishDate like concat('%',#{punishDate,jdbcType=VARCHAR},'%') and
            </if>
            <if test="province!=null">
                province like concat('%',#{province,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishmentLawName!=null">
                punishmentLawName like concat('%',#{punishmentLawName,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishedPersonName!=null">
                punishedPersonName like concat('%',#{punishedPersonName,jdbcType=VARCHAR},'%') and
            </if>
            <if test="punishmentMoney!=null">
                punishmentMoney = #{punishedMoney} and
            </if>
            <if test="punishedBusinessName!=null">
                punishedBusinessName like concat('%',#{punishedBusinessName,jdbcType=VARCHAR},'%') and
            </if>
        </trim>
        limit #{limit,jdbcType=INTEGER}
        offset #{offset,jdbcType=INTEGER}
    </select>

    <resultMap id="BankPunishment" type="com.internetplus.bankpunishment.entity.BankPunishment">
        <id column="id" property="id"/>
        <result column="punishmentName" property="punishmentName"/>
        <result column="punishmentDocNo" property="punishmentDocNo"/>
        <result column="punishmentType" property="punishmentType"/>
        <result column="punishedPartyName" property="punishedPartyName"/>
        <result column="mainResponsibleName" property="mainResponsibleName"/>
        <result column="mainIllegalFact" property="mainIllegalFact"/>
        <result column="punishmentBasis" property="punishmentBasis"/>
        <result column="punishmentDecision" property="punishmentDecision"/>
        <result column="punisherName" property="punisherName"/>
        <result column="punishDate" property="punishDate"/>
        <result column="province" property="province"/>
        <result column="punishmentLawName" property="punishmentLawName"/>
        <result column="punishedPersonName" property="punishedPersonName"/>
        <result column="punishmentMoney" property="punishmentMoney"/>
        <result column="punishedBusinessName" property="punishedBusinessName"/>
        <result column="status" property="status"/>
    </resultMap>
</mapper>
