<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internetplus.bankpunishment.data.CaseStatisticsMapper">
    <select id="getPunishedPartyAndMoney" resultType="java.util.LinkedHashMap">
        select punishedPartyName as 'key', sum(punishmentMoney) as 'value'
        from bank_punishment
        group by punishedPartyName
        order by value desc
        limit 10;
    </select>

    <select id="getPunishedPartyAndTimes" resultType="java.util.LinkedHashMap">
        select punishedPartyName as 'key', count(*) as 'value'
        from bank_punishment
        where punishedPartyName is not null and punishedPartyName != ""
        and punishedPartyName != "应桂英" and punishedPartyName != "深圳）有限公司"
        and punishedPartyName != "上海）有限公司" and punishedPartyName != "上海)有限公司"
        group by punishedPartyName
        order by value desc
        limit 10;
    </select>

    <select id="getPunisherNameAndMoney" resultType="java.util.LinkedHashMap">
        select punisherName as 'key', sum(punishmentMoney) as 'value'
        from bank_punishment
        group by punisherName
        order by value desc
        limit 10;
    </select>

    <select id="getPunisherNameAndTimes" resultType="java.util.LinkedHashMap">
        select punisherName as 'key', count(*) as 'value'
        from bank_punishment
        group by punisherName
        order by value desc
        limit 10;
    </select>

    <select id="getPunishDateAndTimes" resultType="java.util.LinkedHashMap">
        select punishDate as 'key', count(*) as 'value'
        from bank_punishment
        where punishDate != '1899-12-31'
        group by punishDate
        order by value desc
        limit 10;
    </select>

    <select id="getYearAndAverageMoney" parameterType="java.lang.String" resultType="java.lang.Double">
        select sum(punishmentMoney)/count(*)
        from bank_punishment
        where punishDate like concat(#{year,jdbcType=VARCHAR},'%');
    </select>

    <select id="getProvinceAndTimes" resultType="java.util.LinkedHashMap">
        select province as 'key', count(*) as 'value'
        from bank_punishment
        group by province
        order by value desc;
    </select>

    <select id="getTimesByYear" resultType="java.lang.Integer">
        select count(*)
        from bank_punishment
        where punishDate like concat(#{year.toString(),jdbcType=VARCHAR},'-%');
    </select>

    <select id="getTimesByMoneyRange" resultType="java.lang.Integer">
        select count(*)
        from bank_punishment
        where punishmentMoney >= #{begin,jdbcType=DOUBLE} and punishmentMoney &lt; #{end,jdbcType=DOUBLE};
    </select>

    <select id="countCases" resultType="java.lang.Integer">
        select count(*)
        from bank_punishment;
    </select>

    <select id="sumMoney" resultType="java.lang.Double">
        select sum(punishmentMoney)
        from bank_punishment;
    </select>
</mapper>
